@page "/"

<PageTitle>Home</PageTitle>

<div>
    <p>
        <b>Welcome!</b> My name is Eli and this is my blog. I love coding, I love technology, and I love learning 
        about topics in computer science. That's what this blog is all about. If you're reading this right now,
        chances are you're one of my first visitors. I hope to see you back as the blog continues to grow.
        At this point in time, just about everything here is subject to change; don't be surprised if you
        stop by for another visit and things look a bit different.
    </p>
    <div class="myHeaders">
        <h3>Get To Reading</h3>
        <p>Oct. 11, 2024</p>
    </div>
    <hr>
    <p>
        If you'd like to get right to exploring the blog, click the double arrow icon 
        <span class="desktop-msg">over on the far left side of the page</span><span class="mobile-msg">
        at the top of the page</span> to open the navigation bar and start exploring my 
        posts. My most recent post will be featured right beneath the 'about' information 
        on this page!
    </p>
    <div class="myHeaders">
        <h3>About This Blog</h3>
        <p>Oct. 11, 2024</p>
    </div>
    <hr>
    <p>
        My goal in creating this blog is to:
        <ul>
            <li>
                Showcase that learning programming and computer science can be fun with the right approach and mindset
            </li>
            <li>
                Share my experiences in learning various computer science topics and programming languages 
            </li>
            <li>
                Explore, break down, discuss, and hopefully demystify complex programming topics & concepts
            </li>
            <li>
                Post regular updates on my journey to becoming the best programmer I can be
            </li>
        </ul>
    </p>
    <div class="myHeaders">
        <h3>A Bit About Me</h3>
        <p>Oct. 11, 2024</p>
    </div>
    <hr>
    <p>
        I'm an aspiring full stack web developer from Michigan. I graduated from the University of
        Michigan with a degree in cognitive science; however, post graduation, I found myself
        inexplicably drawn to programming. While still relatively new to the field of programming
        and computer science, I've found myself gradually becoming more obsessed with
        the topic day-by-day. That's half the reason I wanted to start this blog in the 
        first place -- to spread that appreciation and passion for the field.

    </p>
    <p>
        As I've grown more comfortable in the realm of programming, and -- more importantly -- with the
        process of learning programming, I've developed a personal philosophy that has really helped
        me grow and keep a healthy mindset. That philosophy has three core tenets:
        <ul>
            <li>
                Learn deeply: As I continue my journey in programming, I find that learning things as
                deeply as possible tends to reap great benefits. For example, when copying a code snippet 
                from an outside source, look into why it works. Blindly copying code because it works
                without first understanding <i>why</i> it works is a proverbial footgun.
            </li>
            <li>
                Repetition is key: Learning to program very often feels like trying to drink from a firehose.
                There's a lot of information out there and it's easy to fall into a habit of quickly moving
                from one thing or one implementation to another. Remember that new code you implemented yesterday?
                Why not try implementing it again today, from memory? In the worst case, you'll waste a few
                minutes. Best case? You'll have that code in your back pocket for an appreciable amount of time.
            </li>
            <li>
                Pay extra attention to errors: If there's one thing I've taken to heart from more experienced
                developers, it's to pay <i>extra</i> attention to the errors you encounter while coding. Every 
                error you introduce is an opportunity to learn something new. The next time you encounter said error,
                you'll know how to handle it, or, at the very least, have a sense of direction to go. 
            </li>
        </ul>  
    </p>
    <MyBlog.Pages.Posts.GroupAnagrams></MyBlog.Pages.Posts.GroupAnagrams>
</div>
