/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-77z6mrln1l] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, #01071d 70%);
    min-height: 100vh;
}

.content[b-77z6mrln1l] {
    min-height: 100vh;
}

.wrapper[b-77z6mrln1l] {
    width: 50%;
    margin: auto;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main[b-77z6mrln1l] {
    flex: 1;
}

.sidebar[b-77z6mrln1l] {
    background-color: rgb(35, 35, 35);
}

.top-row[b-77z6mrln1l] {
    background-color: rgb(56, 56, 56);
    border-bottom: 1px solid rgba(211, 211, 211, .4);
    justify-content: center;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-77z6mrln1l]  a, .top-row[b-77z6mrln1l]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
        color: rgb(245, 245, 245);
        :hover{
            text-decoration: none;
        }
    }

    .top-row[b-77z6mrln1l]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-77z6mrln1l] {
        justify-content: center;
    }

    .top-row[b-77z6mrln1l]  a, .top-row[b-77z6mrln1l]  .btn-link {
        margin-left: 0;
    }

    .wrapper[b-77z6mrln1l] {
        width: 100%
    }
}

@media (min-width: 641px) {
    .page[b-77z6mrln1l] {
        flex-direction: row;
    }

    .sidebar[b-77z6mrln1l] {
        width: 24px;
        height: 100vh;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .top-row[b-77z6mrln1l] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-77z6mrln1l]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-77z6mrln1l], article[b-77z6mrln1l] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

}

.universalBackground[b-77z6mrln1l] {
    background-color: rgb(245, 245, 245);
}
/* /Layout/NavMenu.razor.rz.scp.css */
.top-row[b-xh24n2dm4u] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-xh24n2dm4u] {
    font-size: 1.1rem;
}

.nav-item[b-xh24n2dm4u] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item[b-xh24n2dm4u]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-xh24n2dm4u]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-xh24n2dm4u]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    
    .nav-scrollable[b-xh24n2dm4u] {
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }

    .offcanvas[b-xh24n2dm4u] {
        visibility: visible !important;
        background-color: rgb(56, 56, 56);
        width: 250px;
    }
}

/* My Classes */

.nav-link[b-xh24n2dm4u] {
    padding-left: 10px;
}

.btn-close:focus[b-xh24n2dm4u] {
    box-shadow: none;
}

.mobile-icon[b-xh24n2dm4u] {
    display: none;
}

.desktop-icon[b-xh24n2dm4u] {
    display: inline-block;
}

.offcanvas[b-xh24n2dm4u] {
    visibility: visible !important;
    background-color: rgb(56, 56, 56);
    border-right: 1px solid rgba(211, 211, 211, .4)
}

.offcanvas-title[b-xh24n2dm4u] {
    padding-left: 18px;
    color: white;
}

.offcanvas-header[b-xh24n2dm4u] {
    border-bottom: 1px solid rgba(211, 211, 211, .4);
}

.dropdown-item:focus[b-xh24n2dm4u] {
    background-color: transparent;
}

.dropdown-submenu .dropdown-menu[b-xh24n2dm4u] {
    display: none;
}

.dropdown-item[b-xh24n2dm4u] {
    font-size: .75rem;
}

.dropdown-menu[b-xh24n2dm4u] {
    background-color: transparent;
    border: none;
}

.bi[b-xh24n2dm4u] {
    position: relative;
    margin-left: 2px;
    width: 1.25rem;
    height: 1.25rem;
    opacity: .7;
    color: white;
}

.bi:hover[b-xh24n2dm4u]{
    opacity: 1;
}

@media (max-width: 640.98px) {
    .desktop-icon[b-xh24n2dm4u] {
        display: none;
    }
    .mobile-icon[b-xh24n2dm4u] {
        display: inline-block;
    }
    .navbar[b-xh24n2dm4u] {
        justify-content: center;
    }
    
    .offcanvas-body[b-xh24n2dm4u] {
        padding-top: 0;
    }
    
}
/* /Pages/Archives.razor.rz.scp.css */
.archiveLink[b-kcuogftc82] {
    color: black;
}

.archiveLink:hover[b-kcuogftc82] {
    color: #0071c1;
}

.archiveHeader[b-kcuogftc82] {
    font-size: .5rem;
}

h4[b-kcuogftc82] {
    font-size: 1.1rem;
    margin-bottom: 0;
    margin-top: 1%
}

hr[b-kcuogftc82] {
    margin-top: 0;
}
/* /Pages/Home.razor.rz.scp.css */
.mobile-msg[b-5t0s357vv2] {
    display: none;
}

.desktop-msg[b-5t0s357vv2] {
    display: inline;
}

@media (max-width: 640.98px) {
    .mobile-msg[b-5t0s357vv2] {
        display: inline;
    }
    .desktop-msg[b-5t0s357vv2] {
        display: none;
    }
}
