.page[b-77z6mrln1l] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, #01071d 70%);
    min-height: 100vh;
}

.content[b-77z6mrln1l] {
    min-height: 100vh;
}

.wrapper[b-77z6mrln1l] {
    width: 50%;
    margin: auto;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main[b-77z6mrln1l] {
    flex: 1;
}

.sidebar[b-77z6mrln1l] {
    background-color: rgb(35, 35, 35);
}

.top-row[b-77z6mrln1l] {
    background-color: rgb(56, 56, 56);
    border-bottom: 1px solid rgba(211, 211, 211, .4);
    justify-content: center;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-77z6mrln1l]  a, .top-row[b-77z6mrln1l]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
        color: rgb(245, 245, 245);
        :hover{
            text-decoration: none;
        }
    }

    .top-row[b-77z6mrln1l]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-77z6mrln1l] {
        justify-content: center;
    }

    .top-row[b-77z6mrln1l]  a, .top-row[b-77z6mrln1l]  .btn-link {
        margin-left: 0;
    }

    .wrapper[b-77z6mrln1l] {
        width: 100%
    }
}

@media (min-width: 641px) {
    .page[b-77z6mrln1l] {
        flex-direction: row;
    }

    .sidebar[b-77z6mrln1l] {
        width: 24px;
        height: 100vh;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .top-row[b-77z6mrln1l] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-77z6mrln1l]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-77z6mrln1l], article[b-77z6mrln1l] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

}

.universalBackground[b-77z6mrln1l] {
    background-color: rgb(245, 245, 245);
}