.top-row[b-xh24n2dm4u] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-xh24n2dm4u] {
    font-size: 1.1rem;
}

.nav-item[b-xh24n2dm4u] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-xh24n2dm4u] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-xh24n2dm4u] {
        padding-bottom: 1rem;
    }

    .nav-item[b-xh24n2dm4u]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-xh24n2dm4u]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-xh24n2dm4u]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    
    .nav-scrollable[b-xh24n2dm4u] {
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }

    .offcanvas[b-xh24n2dm4u] {
        visibility: visible !important;
        background-color: rgb(56, 56, 56);
        width: 250px;
    }
}

/* My Classes */

.mobile-icon[b-xh24n2dm4u] {
    display: none;
}

.desktop-icon[b-xh24n2dm4u] {
    display: inline-block;
}

.offcanvas[b-xh24n2dm4u] {
    visibility: visible !important;
    background-color: rgb(56, 56, 56);
}

.offcanvas-title[b-xh24n2dm4u] {
    text-decoration: underline;
}

.offcanvas-title[b-xh24n2dm4u] {
    color: white;
}

.dropdown-item:focus[b-xh24n2dm4u] {
    background-color: transparent;
}

.dropdown-submenu .dropdown-menu[b-xh24n2dm4u] {
    display: none;
    left: 100%; 
    top: 0;
}

.dropdown-menu[b-xh24n2dm4u] {
    background-color: transparent;
    border: none;
}

.bi[b-xh24n2dm4u] {
    position: relative;
    margin-left: 2px;
    width: 1.25rem;
    height: 1.25rem;
    opacity: .7;
    color: white;
}

.bi:hover[b-xh24n2dm4u]{
    opacity: 1;
}

@media (max-width: 640.98px) {
    .desktop-icon[b-xh24n2dm4u] {
        display: none;
    }
    .mobile-icon[b-xh24n2dm4u] {
        display: inline-block;
    }
    .navbar[b-xh24n2dm4u] {
        justify-content: center;
    }
    .offcanvas-header[b-xh24n2dm4u] {
        padding-bottom: 0;
    }
    .offcanvas-body[b-xh24n2dm4u] {
        padding-top: 0;
    }
    
}