@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="wrapper">
        <main class="universalBackground">
            <div class="top-row px-4">
                <a href="">The Principled Programmer</a>
            </div>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</div>

