@inject IJSRuntime JS

<div class="navbar nav-scrollable">
  <nav class="flex-column">
      <span data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" 
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation"
      role="button">
      <i class="bi bi-chevron-double-right desktop-icon"></i>
      <i class="bi bi-chevron-double-down mobile-icon"></i>
      </span>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 px-2">
          <li class="nav-item">
            <a class="nav-link" href="" Match="NavLinkMatch.All">
              Home / About
            </a>
          </li>

          @* Recents Dropdown *@

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Recent
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="Getting-Interested-in-DSA">Getting Interested in DSA</a></li>
              <li><a class="dropdown-item" href="#">Placeholder</a></li>
              <li><a class="dropdown-item" href="#">Placeholder</a></li>
            </ul>
          </li>
          
          @* Topics Dropdown *@

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Topics
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">DSA / LeetCode</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="Getting-Interested-in-DSA">Getting Interested in DSA</a></li>
                  <li><a class="dropdown-item" href="#">Placeholder</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Subtopic 2</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Placeholder</a></li>
                  <li><a class="dropdown-item" href="#">Placeholder</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Archived Posts
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
          await JS.InvokeVoidAsync("initializeBootstrapComponents");
          await JS.InvokeVoidAsync("initializeNavSubMenu");
          await JS.InvokeVoidAsync("addResizeEventForOffcanvas", "offcanvasNavbar");
        }
    }
}
